<div class="container">
  <h2 class="text-center">CRUD Books</h2>

  <div class="container">
    <h3>Add new Book</h3>
    <form [formGroup]="bookForm" id="crudBooks" (ngSubmit)="createBook()">
      <div class="form-group">
        <label for="bookName">Book Name:</label>
        <input type="text" class="form-control" id="bookName" placeholder="Type Book name" required formControlName="bookName">
      </div>
      <div class="form-group">
        <label for="pages">Number of pages:</label>
        <input type="text" class="form-control" id="pages" placeholder="Type a number of pages" required formControlName="pages">
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <select class="form-control" id="author" formControlName="author" required>
          <option *ngFor="let author of authors" [ngValue]="author">{{ author.authorName }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <select class="form-control" id="genre" formControlName="genre" required>
          <option *ngFor="let genre of genres" [ngValue]="genre">{{ genre.genreName }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
  </div>

  <div class="container">
    <h3>List books</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Book name</th>
        <th>ISNB</th>
        <th>Pages</th>
        <th>Author</th>
        <th>Genre</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.bookName }}</td>
        <td>{{ book.isnb }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
